<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>actividad-14-Oscar-Gonzalez.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>552A2B211C49D9E400924D6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>552A2B351C49D9E500924D6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>552A2B401C49D9E500924D6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
